@using GoNewWebsite.Models
@model List<GoNewWebsite.Models.Jobs>
@{
    var isActive = true;
}

<section class="page-section container-fluid" id="Job">
    
    <div class="container">
        <div class="section-header">
            <p class="ourCustomer">Careers</p>

        </div>

        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    @foreach (var item in Model)
                    {

                        if (isActive)
                        {
                            <li class="nav-item">
                                <a class="nav-link job-il active" data-toggle="tab" href="#@item.Name.Replace(" ", string.Empty)" role="tab" aria-controls="@item.Name.Replace(" ", string.Empty)"> @item.Name</a>
                            </li>
                            {
                                isActive = false;
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link job-il" data-toggle="tab" href="#@item.Name.Replace(" ", string.Empty)" role="tab" aria-controls="@item.Name.Replace(" ", string.Empty)"> @item.Name</a>
                            </li>
                        }
                    }
                    @{
                        isActive = true;
                    }


                </ul>
                <div class="tab-content">


                    @foreach (var item in Model)
                    {
                        if (isActive)
                        {
                            <div class="tab-pane active" id="@item.Name.Replace(" ", string.Empty)" role="tabpanel">
                                <div class="item-content">
                                    @Html.Raw(@item.Details[0].Value)
                                    <p class="read-more"> <a class="" href="@Url.Action("Position", new {positionId = @item.Uid})">Apply Now</a></p>
                                </div>

                            </div>
                            isActive = false;
                        }
                        else
                        {
                            <div class="tab-pane" id="@item.Name.Replace(" ", string.Empty)" role="tabpanel">
                                <div class="item-content">
                                    @Html.Raw(@item.Details[0].Value)
                                    <p class="read-more"> <a class="" href="@Url.Action("Position", new {positionId = @item.Uid})">Apply Now</a></p>
                                </div>

                            </div>
                        }

                    }


                </div>
                <!-- /Bootstrap Tabs -->
                <!-- Bootstrap Accordion -->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"></div>
                <!-- /Bootstrap Accordion -->
            </div>
        </div>
    </div>
    


</section>



@section scripts
{

}
