@using Common.ExtensionMethods
@model List<GoNewWebsite.Models.Jobs>
@{
    ViewBag.Title = "Career";
    int counter = 0;
}


<section class=" container" id="aboutOffice">
    
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <h2 class="about_office">About the Office</h2>
                    <p class="about_office_text">
                        Join a team of people who are mutually passionate about pushing the limits and breaking records. If you think you've got what it takes to join our global award-winning team, to be part of place that looks to create value and challenge the status quo, a place to work and learn from the best. And if for you this digital world is a career, you belong with us!
                    </p>
            </div>


        </div>
    </div>
    <div class="space"></div>
    <div class="row">

        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#openPosition" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>

</section>


<section class="page-section container-fluid" id="openPosition">
    <div class="DVideo"></div>

    
    <div class="container">
        <h2 class="about_office">Open Positions </h2>
        @foreach (var row in Model.ToArray().Split(3))
        {

            <div class="row justify-content-center">

                @foreach (var item in row)
                {

                    <div class="col-md-4 mb-4 card-job">

                        <a class="hrefPosition" href="@Url.Action("Position", new {positionId = @item.Uid})">

                            <img src="~/Images/Shape 4331.png" class="img-fluid image-carr">
                            <div class="card-caption">
                                @item.Name
                            </div>


                        </a>
                    </div>
                }
            </div>
        }
    </div>

    @*<div class="-thumbnail">
            <img src="~/Images/CAREERS.png" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
            <div class="card-text">
                <h5 class="card-position">@article.Name</h5>
            </div>
        </div>*@

    @*<div class="container">


                <div class="row justify-content-center">
                    @foreach (var item in @Model)
                    {

                    <div class="col-md-3   job-card ">



                            <a class="hrefPosition" href="@Url.Action("Position", new {positionId = @item.Uid})">
                                <img src="~/Images/CAREERS.png" />

                                <div class="card-text">
                                    <h5 class="card-position">@item.Name</h5>
                                </div>
                            </a>
                        </div>



                    }




            </div>

        </div>*@

</section>



@section scripts
{
    <script type="text/javascript">
        $('.nav-link').removeClass("active");
        $('.Careers').addClass("active");


        $(window).scroll(function () {
            var x = $('#Contact').hasClass("active");
                
            if (x) {
                
            } else {
                $('.nav-link').removeClass("active");
                $('.Careers').addClass("active");
            }

        })
    </script>
}
