@model List<GoNewWebsite.Models.Jobs>
@{
    ViewBag.Title = "Career";
}


<section class="page-section container" id="aboutOffice">
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <h2 class="about_office"> אודות המשרד</h2>

                <div class="col-sm-10  offset-sm-1">
                    <p class="about_office_text">
                        להביל את הלקוחות שלנו להצלחה עסקית בשותפות, אחריות וחתירה מתמדת לאיתור מנועי צמיחה חדשים שמנפצים את תקרת הזכוכית להביל את הלקוחות שלנו להצלחה עסקית בשותפות, אחריות וחתירה מתמדת לאיתור מנועי צמיחה חדשים שמנפצים את תקרת הזכוכית
                    </p>
                </div>

            </div>




        </div>
    </div>

    <div class="row">
        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#openPosition" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>
</section>


<section class="page-section container-fluid" id="openPosition">
    <div class="section-header">
        <p class="ourCustomer">משרות פתוחות </p>

    </div>
    <div class="row">
        <div class="container-fluid mt-4" style="color: black">
            <div class="jobs-card">
                <div class="row justify-content-center">
                    @foreach (var item in @Model)
                    {
                        <div class="col-md-3 mb-4">
                            <div class="card job-card img-fluid">

                                <div class="card-text">

                                    <h5 class="card-position">@item.Name</h5>
                                    <svg>
                                        <g transform="translate(60,0)">
                                            <path fill-rule="evenodd" fill="rgb(223, 223, 223)" cx="50" cy="5" class="border-danger"
                                                  d="M242.381,79.944 C242.381,79.944 198.787,31.446 148.286,72.510 C97.784,113.573 61.000,158.000 61.000,158.000 L243.000,158.000 L242.381,79.944 Z" />
                                        </g>
                                    </svg>

                                    <div class="overlay">

                                        <div class="text">
                                            @Html.Raw(@item.Details[0].Value)
                                            <a class="hrefPosition" href="@Url.Action("Position", new {positionId = @item.Uid})">להגשת מועמדות</a>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    }



                </div>
            </div>

        </div>
    </div>
</section>



@section scripts
{
    <script type="text/javascript">
        $('.nav-link').removeClass("active");
        $('.Careers').addClass("active");
    </script>
}
