@using Common.ExtensionMethods
@model List<GoNewWebsite.Models.Jobs>
@{
    ViewBag.Title = "Career";
    int counter = 0;
}


<section class=" container" id="aboutOffice">
    
    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <h2 class="about_office">About the Office</h2>
                    <p class="about_office_text">
We at GO every wake up every morning with the goal of advancing one more step from the peak we reached yesterday. If you, too, wink from the same material, people who are looking to create value, seek to challenge the status quo, love to surround yourself with winners, want to learn from the best and strive to look at the digital world as a career - your place is with us.
                    </p>
            </div>


        </div>
    </div>
    <div class="space"></div>
    <div class="row">

        <div class=" col-md-6">
        </div>
        <div class=" col-md-6">
            <a href="#openPosition" class="js-scroll-trigger">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>

        </div>
    </div>

</section>


<section class="page-section container-fluid" id="openPosition">
    <div class="DVideo"></div>

    
    <div class="container">
        <h2 class="about_office">Open Positions </h2>
        @foreach (var row in Model.ToArray().Split(3))
        {

            <div class="row justify-content-center">

                @foreach (var item in row)
                {

                    <div class="col-md-4 mb-4 card-job">

                        <a class="hrefPosition" href="@Url.Action("Position", new {positionId = @item.Uid})">

                            <img src="~/Images/Shape 4331.png" class="img-fluid image-carr">
                            <div class="card-caption">
                                @item.Name
                            </div>


                        </a>
                    </div>
                }
            </div>
        }
    </div>

    @*<div class="-thumbnail">
            <img src="~/Images/CAREERS.png" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
            <div class="card-text">
                <h5 class="card-position">@article.Name</h5>
            </div>
        </div>*@

    @*<div class="container">


                <div class="row justify-content-center">
                    @foreach (var item in @Model)
                    {

                    <div class="col-md-3   job-card ">



                            <a class="hrefPosition" href="@Url.Action("Position", new {positionId = @item.Uid})">
                                <img src="~/Images/CAREERS.png" />

                                <div class="card-text">
                                    <h5 class="card-position">@item.Name</h5>
                                </div>
                            </a>
                        </div>



                    }




            </div>

        </div>*@

</section>



@section scripts
{
    <script type="text/javascript">
        $('.nav-link').removeClass("active");
        $('.Careers').addClass("active");
    </script>
}
