@model GoNewWebsite.Models.Position
@{
    ViewBag.Title = "Position";
}

<div class="cf text-center">
    <a href="@Url.Action("Index", "Career")" style="color: white">
        <img src="~/Images/english-arrow.png" width="100">
        <p class="back ">
            Back

        </p>
    </a>
    
</div>

    <h2 class="career-header">@Model.Name</h2>


    <section class=" container" id="aboutUs">
        <div class="row">
            <div class="">
                <h2 class="about_office"> Description</h2>
                <div class="description">
                    <p class="about_office_text">
                        @Html.Raw(@Model.Details[0].Value)
                    </p>
                </div>

            </div>
        </div>

        
        <div class="space"></div>
        <div class="row">
            <div class=" col-md-6">
            </div>
            <div class=" col-md-6">
                <a href="#weLooking" class="js-scroll-trigger">
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                </a>

            </div>
        </div>


    </section>


    <section class="container-fluid" id="requirement">
        <div class="row">
            <div class="container">

                <h2 class="about_office"> Requirements</h2>


                <div class="requirement">

                    @Html.Raw(@Model.Details[1].Value)

                </div>





            </div>
        </div>

        <div class="space-cusotm"></div>

        <div class="row align-items-center">
            <div class="col">

            </div>
            <div class="col">

            </div>

            <div class="col-md-4">
                <div class="applay-now-btn">
                    <a href="mailto:@Model.Email?subject=@Model.Name" class="btn btn-primary">Apply Now</a>
                </div>


            </div>
            <div class="col">

            </div>

        </div>

    </section>





    @section scripts
{
        <script type="text/javascript">
            $('.nav-link').removeClass("active");
            $('.Careers').addClass("active");


            $(window).scroll(function () {
                var x = $('#Contact').hasClass("active");
                
                if (x) {
                
                } else {
                    $('.nav-link').removeClass("active");
                    $('.Careers').addClass("active");
                }

            })

        </script>
    }
